__pycache__/Actor.cpython-39.pyc
Actor.py
__pycache__/ActorPageInterface.cpython-39.pyc
__pycache__/Scrapping.cpython-39.pyc
__pycache__/Movie.cpython-39.pyc
__pycache__/Interface.cpython-39.pyc
.DS_Store
